.glitch {
    position: relative;
    color: white;
    font-weight: 900;
    line-height: 1.2;
}

.glitch:before,
.glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.glitch:before {
    left: 2px;
    text-shadow: var(--before-shadow, 2px 0 red);
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 var(--before-duration, 3s) infinite linear alternate-reverse;
}

.glitch:after {
    left: -2px;
    text-shadow: var(--after-shadow, -2px 0 cyan);
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim var(--after-duration, 2.5s) infinite linear alternate-reverse;
}

.glitch.enable-on-hover:before,
.glitch.enable-on-hover:after {
    display: none;
}

.glitch.enable-on-hover:hover:before,
.glitch.enable-on-hover:hover:after {
    display: block;
}

@keyframes glitch-anim {
    0% {
        clip: rect(24px, 9999px, 96px, 0);
    }

    5% {
        clip: rect(60px, 9999px, 80px, 0);
    }

    10% {
        clip: rect(69px, 9999px, 15px, 0);
    }

    15% {
        clip: rect(98px, 9999px, 12px, 0);
    }

    20% {
        clip: rect(64px, 9999px, 26px, 0);
    }

    25% {
        clip: rect(31px, 9999px, 92px, 0);
    }

    30% {
        clip: rect(4px, 9999px, 18px, 0);
    }

    35% {
        clip: rect(90px, 9999px, 60px, 0);
    }

    40% {
        clip: rect(61px, 9999px, 63px, 0);
    }

    45% {
        clip: rect(18px, 9999px, 5px, 0);
    }

    50% {
        clip: rect(72px, 9999px, 96px, 0);
    }

    55% {
        clip: rect(13px, 9999px, 86px, 0);
    }

    60% {
        clip: rect(14px, 9999px, 80px, 0);
    }

    65% {
        clip: rect(94px, 9999px, 14px, 0);
    }

    70% {
        clip: rect(23px, 9999px, 69px, 0);
    }

    75% {
        clip: rect(9px, 9999px, 13px, 0);
    }

    80% {
        clip: rect(3px, 9999px, 7px, 0);
    }

    85% {
        clip: rect(34px, 9999px, 3px, 0);
    }

    90% {
        clip: rect(83px, 9999px, 53px, 0);
    }

    95% {
        clip: rect(59px, 9999px, 18px, 0);
    }

    100% {
        clip: rect(56px, 9999px, 49px, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip: rect(65px, 9999px, 100px, 0);
    }

    5% {
        clip: rect(52px, 9999px, 74px, 0);
    }

    10% {
        clip: rect(79px, 9999px, 85px, 0);
    }

    15% {
        clip: rect(75px, 9999px, 5px, 0);
    }

    20% {
        clip: rect(67px, 9999px, 61px, 0);
    }

    25% {
        clip: rect(14px, 9999px, 79px, 0);
    }

    30% {
        clip: rect(1px, 9999px, 66px, 0);
    }

    35% {
        clip: rect(86px, 9999px, 30px, 0);
    }

    40% {
        clip: rect(23px, 9999px, 98px, 0);
    }

    45% {
        clip: rect(85px, 9999px, 72px, 0);
    }

    50% {
        clip: rect(71px, 9999px, 75px, 0);
    }

    55% {
        clip: rect(2px, 9999px, 48px, 0);
    }

    60% {
        clip: rect(30px, 9999px, 16px, 0);
    }

    65% {
        clip: rect(59px, 9999px, 50px, 0);
    }

    70% {
        clip: rect(41px, 9999px, 62px, 0);
    }

    75% {
        clip: rect(2px, 9999px, 82px, 0);
    }

    80% {
        clip: rect(47px, 9999px, 73px, 0);
    }

    85% {
        clip: rect(3px, 9999px, 27px, 0);
    }

    90% {
        clip: rect(26px, 9999px, 55px, 0);
    }

    95% {
        clip: rect(42px, 9999px, 97px, 0);
    }

    100% {
        clip: rect(38px, 9999px, 49px, 0);
    }
}